
*.xml
*.idea
*.xml
.idea/workspace.xml
.idea/workspace.xml
*.class
*.kotlin_module
out/production/RPGArcade/main/resources/saved/.txt
out/production/RPGArcade/main/resources/saved/pie.txt
out/production/RPGArcade/main/resources/saved/piezz.txt
out/production/RPGArcade/main/resources/saved/Evil_Bad_Guy.txt
out/production/RPGArcade/main/resources/saved/Pies_Epic_Sword.txt
out/production/RPGArcade/main/resources/saved/Iron_Leggings.txt
out/production/RPGArcade/main/resources/saved/Iron_Boots.txt
out/production/RPGArcade/main/resources/saved/Iron_Chestplate.txt
out/production/RPGArcade/main/resources/saved/Iron_Helmet.txt
